/* Ann, added media query formatting */
/* if viewport has width > this.. */
@media(min-width: 650px) {

/* logo and navigation cambiar  */
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
h1, .ion-search, .shopping-bag {
color: black !important;
}

#logo {
  order: -1; /* flex order move left */
}

.main-nav{

 width: 70%; /* ocupa el 100% de ancho del padre */
 height: auto;  /* el contenido generá el alto */
 position: static; /* absolute - relative - fixed - static */
 background-color: transparent; /* elimina el color del fondo */
 padding-top: 0;
 padding-bottom: 0;
 display: flex;
 justify-content: space-around;
 align-items: flex-start;
}

.main-nav ul {
  clear: none;
  margin: 0;
}

.main-nav ul a {
color:black;
}
.main-nav li{
display: inline-block;
color: black;
margin: 0;
}

.main-nav a{
background-color: transparent;
color: black;
border-bottom: none;
}

.cierra, .toggle-nav, .close-nav {
  display: none;
}

.registro {
  font-size: 1em;
  width: 200px;
  text-align: right;
}
.shopping-bag {
  order: +2;
}

.intro {
  height: auto;
}

.intro-layover {
  height: 300px;
}

.about {
  padding: 0.5em;
}

h4 {
  font-size: 1.5em;
  padding: 10px 0;
  margin: 0;
  height: 25%;
  width: 100%;
  float: clear;
  position: absolute;
  bottom: 0;
}

.categoria {
  width: 23.076923%;     /* 150 / 650 * 100  */
  height: 200px;    /*  como preservar ratio? */
  margin: 10px;
  border: 1px solid black;
  float: left;
  position: relative;
}

.imagen-categoria {
  width: 100%;
  height: 75%;
  padding: 20px;
}

.ver-mas {
  display: block;
  padding: 0;
  margin: auto;
  width: 200px;
  clear: both;
}

.artistas-destacados {
  clear:both ;
}

.main-footer {
text-align: center;
}

.main-footer li{
  display: inline-block;
}

.main-footer a {
  border-bottom: none;
  border-right: solid 1px #ffffff;
}

.main-footer li:last-child a{
border-right: none;
}

/* if viewport has width > this.. */
@media(min-width: 1200px) {
.container {
  max-width: 1200px;
  margin: auto;
}

.categoria {
  width: 16.666667%;     /* 150 / 1200 * 100  */
  height: 200px;    /*  como preservar ratio? */
